*{margin: 0; padding: 0; font-family: "Arial", sans-serif; font-size: 16px}

html{width: 90%; margin-left: 5%; scroll-behavior: smooth;
}

.navig{
	position: sticky;
	top: 0; z-index: 999;
	background-color: #0d0d0d;
	display: flex;
	justify-content: flex-start;
}

.regulus{
	width: 30%;
	display: flex;
	justify-content: center;
	align-self: center;
}

#logo{height: 4em;}

.navbar{width: 70%;}

.navbar #menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin-left: 0;
}

.navbar #menu li{
	display: inline-block;
	font-weight: bold;
	display: flex;
}

.navbar #menu li a{
	display: block;
	margin-top: .45em;
	padding: 1em;
	background: #0d0d0d;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	transition-duration: 0.5s;	
}

.navbar #menu li a:hover{
	background: #e46c0a;
	color: black;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0em;
}

.sliderMain{width: 100%;}

.slid{width: 100%;}

#whatwedo{
	position: relative;
	padding-top: 5em;
	background-image: linear-gradient(to bottom, #ffffff, #e46c0a, #e46c0a, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d);
}

#whoweare{
	position: relative;
	padding-top: 5em;	
	background-image: linear-gradient(to top, #0d0d0d, #0d0d0d, #e46c0a, #0d0d0d, #0d0d0d);
}

h2{
	color: white;
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	text-shadow: grey .03em .03em;
	margin-bottom: 0.75em;
}

.definition{
	color: white;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	text-shadow: grey .03em .03em;
	margin-bottom: 1em;
}

.imgsector1{
	position: relative;
	width: 30%;
	margin: 1.5% 1.5% 0.5% 1.5%;
	border: 5px solid #F58121;
	border-radius: 15px;
	box-sizing: border-box;
	transition-duration: 0.5s;
}

.imgsector1:hover{
	border: 10px solid white;
	border-radius: 0px;
}

.imgfoot1{
	width: 30%;
	padding: 1.5%;
	font-weight: bold;
	color: #F58121;	
	text-align: center;
	text-shadow: 1px 1px 0 black;
}

#triptico{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.conclusion{
	color: white;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	text-shadow: grey .03em .03em;
	padding-bottom: 2em;
}

#team{
	display: flex;
	flex-direction: row;
}

#quarter{
	width: 25%;
	margin-top: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgup{
	color: white;
	margin-top: 0.5em;
	text-shadow: black 1px 1px;
	font-weight: bolder;
}

.imgsector2{
	width: 90%;
	margin: 1.5% 1.5% 0.5% 1.5%;
	border: 5px solid #F58121;
	border-radius: 15px;
	box-sizing: border-box;
	align-items: center;
	transition-duration: 0.5s;
}

.imgsector2:hover{
	border: 5px solid white;
	border-radius: 0px;
}

.imgfoot2{
	width: 90%;
	margin: 2.5%;
	padding-bottom: 1em;
	color: #F58121;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 black;
}

#clients{
	position: relative;
	padding-top: 5em;		
	background-image: linear-gradient(to bottom, #0d0d0d, #e46c0a, #F58121, #e46c0a, #0d0d0d);
}

.imgsector3{
	width: 20%;
	margin: 2.5%;
	border-radius: 15px;
	box-sizing: border-box;
	align-items: center;
}

#enterprises{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

#contact{
	position: relative;
	padding-top: 5em;	
	background: #0d0d0d;
}

.close{
	display: flex;
	flex-direction: row;
}

#artifooter{
	width: 50%;
	padding: 2em;
	box-sizing: border-box;
	align-content: center;
}

h4{
	text-align: left;
	color: white;
	margin-bottom: 0.25em;
}

h3{font-size: 1.3em;}

input{
	margin-bottom: 1em;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border-radius: 15px;
	border: 2px solid #ff5d00;
}

input:focus{border: 3px solid yellow;}

input:invalid {background-color: #ffdddd;}

input:valid {background-color: #ddffdd;}

textarea{
	margin-bottom: 1em;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border-radius: 15px;
	border: 2px solid #ff5d00;
}

textarea:focus{border: 3px solid yellow;}

textarea:invalid {background-color: #ffdddd;}

textarea:valid {background-color: #ddffdd;}

input[type="submit"]{
	width: 40%;
	background: #ff5d00;
	border: none;
	font-weight: bold;
	color: white;
	align-items: center;
	transition-duration: 0.5s;	
	}

input[type="submit"]:hover{
	background: #0d0d0d;
	color: yellow;
	}

.telephone{
	margin: 2em;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #ff5d00;
	text-align: center;
	color: black;
	transition-duration: 0.5s;
}

.telephone:hover{
	background-color: #0d0d0d;
	color: white;
}

.imgfoot3{
	width: 95%;
	margin: 2.5%;
	color: white;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 darkgrey;
}

.copyright{
	width: 90%;
	margin: 2.5%;
	color: black;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 grey;