* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	background: #0d0d0d;
	font-family: 'Quicksand', sans-serif;
}

header {
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #0d0d0d;
	justify-content: center;
}

header .header_logo {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 5em;
	padding: 0.5em;
}

header nav {
	width: 60%;
    max-width: 1000px;
}

nav ul {
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    align-items: center;
 }

nav ul li {
    float: left;
}

nav ul li a {
    color: #E46C0A;
    font-weight: bold;
    padding: 16px;
    display: block;
    transition: 0.5s;
}

nav ul li a:hover {
    background: #E46C0A;
    color: #000;
    text-decoration: none;
    border-radius: 15px;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0em;
}

.sliderMain{width: 100%;}

.slid{width: 100%;}

#whatwedo{
	position: relative;
	padding-top: 3em;
}

#whoweare{
	position: relative;
	padding-top: 3em;
}

h2{
	color: white;
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	text-shadow: grey .03em .03em;
	margin-bottom: 0.75em;
}

.definition{
	color: white;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	text-shadow: grey .03em .03em;
	margin-bottom: 1em;
}

.triptico{
	width: 33%;
	margin-top: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgsector{
	width: 90%;
	margin: 1.5% 1.5% 0.5% 1.5%;
	border: 5px solid #F58121;
	border-radius: 15px;
	box-sizing: border-box;
	align-items: center;
	transition-duration: 0.5s;
}

.imgsector:hover{
	border: 5px solid white;
	border-radius: 0px;
}

.imgfoot1{
	width: 90%;
	margin: 2.5%;
	padding-bottom: 1em;
	color: #F58121;	
	text-align: center;
	box-sizing: border-box;
	font-weight: bold;
	text-shadow: 1px 1px 0 black;
}

.conclusion{
	color: white;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	text-shadow: grey .03em .03em;
	padding-bottom: 2em;
}

.divflex{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.quarter{
	width: 25%;
	margin-top: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgup{
	color: white;
	margin-top: 0.5em;
	text-shadow: black 1px 1px;
	font-weight: bolder;
}

.imgfoot2{
	width: 90%;
	margin: 2.5%;
	padding-bottom: 1em;
	color: #F58121;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 black;
}

#costumers{
	position: relative;
	padding-top: 3em;		
	background-image: none;
}
.enterprise{
	width: 90%;
	margin: 1.5% 1.5% 0.5% 1.5%;
	border-radius: 15px;
	box-sizing: border-box;
	transition-duration: 0.5s;
}

.enterprise:hover{
	border-radius: 0px;
}

#contact{
	position: relative;
	padding-top: 5em;	
	background: none;
}

.close {
	width: 100%;
	display: flex;
	font-size: 1em;
	flex-direction: row;
}

.artifoot{
	width: 50%;
	padding: 2em;
	box-sizing: border-box;
	align-content: center;
}

h4{
	text-align: left;
	color: white;
	font-size: 1.3em;
	margin-bottom: 0.25em;
}

h3{font-size: 1.3em;}

.content{
	margin-bottom: 1em;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border-radius: 15px;
	border: 2px solid #ff5d00;
}

label {
	width: 100%;	
}

input {
	width: 100%;
	margin-bottom: 1em;
	padding: 0.5em;
	border-radius: 15px;
	border: 2px solid #ff5d00;
}

input:focus{border: 3px solid yellow;}

input:invalid {background-color: #ffdddd;}

input:valid {background-color: #ddffdd;}

textarea{
	margin-bottom: 1em;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border-radius: 15px;
	border: 2px solid #ff5d00;
}

textarea:focus{border: 3px solid yellow;}

textarea:invalid {background-color: #ffdddd;}

textarea:valid {background-color: #ddffdd;}

#sending{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"]{
	width: 100%;
	background: #ff5d00;
	border: none;
	font-weight: bold;
	color: white;
	align-items: center;
	transition-duration: 0.5s;	
	}

input[type="submit"]:hover{
	background: #0d0d0d;
	color: yellow;
	}

.telephone{
	margin: 2em;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #ff5d00;
	text-align: center;
	color: black;
	transition-duration: 0.5s;
}

.telephone:hover{
	background-color: #0d0d0d;
	color: white;
}

.imgfoot3{
	width: 95%;
	margin: 2.5%;
	color: white;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 darkgrey;
}

.copyright{
	width: 90%;
	margin: 2.5%;
	padding-top: 1em;
	color: black;	
	text-align: center;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 grey;
}

@media screen and (max-width: 800px) {

	header {
		flex-wrap: wrap;
	}

	header .header_logo {
		width: 100%;
	}

	header nav {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	nav ul li a {
		padding:  10px;
	    transition: none;
	}

	#whatwedo {
		padding: 8.5em 1em 0em 1em;
	}

	.triptico {
		width: 60%;
		margin: auto;
	}	

	#whoweare {
		padding: 8.5em 1em 0em 1em;
	}

	#costumers {
		padding: 8.5em 1em 0em 1em;
	}

	#contact {
		padding: 8.5em 1em 0em 1em;
	}

	.quarter {
		width: 50%;
	}

	.close {
		flex-wrap: wrap;
	}

	.artifoot {
		width: 100%;
	}

}